<header>
    <div class="nav-container">
        <a href="/" class="logo">YourLogo</a>

        <div class="nav-links">
            <% if(user){ %>
                <div class="dropdown">
                    <a href="#">
                        <%=user.name%>
                    </a>
                    <div class="dropdown-content">
                        <a href="/user-profile" class="nav-link">Profile</a>
                        <a href="/logout" class="nav-link">Logout</a>
                    </div>
                </div>
                <% }else{ %>
                    <a href="/signup" class="nav-link">Sign up</a>
                    <a href="/login" class="nav-link">Login</a>
                    <% } %>

        </div>
    </div>
</header>