<link rel="stylesheet" href="/admin/dashboard.css">


<%-include ('../../views/partials/admin/header')%>

<div class="main-content">
  <h1>Dashboard Content</h1>
  <!-- Your dashboard content goes here -->
</div>

<%-include ('../../views/partials/admin/footer')%>



 
