<%- include("../../views/partials/user/header") %>
<!-- <section class="content-main mt-80 mb-80">
   <div class="card mx-auto card-login col-4">
    <h1>Change Password</h1>
       <div class="card-body">
           <h4 class="card-title mb-4">Email</h4>
           <form method="post" action="" onsubmit="return validateLoginForm()">
               <div class="mb-3">
                   <input class="form-control" name="email" placeholder="Email" type="text" id="email">
                   <div class="error-message" id="email-error"></div>
               </div>
               <div class="mb-4">
                   <button type="submit" class="btn btn-primary w-100">Verify</button>
               </div>
           </form>
         
          
       </div>
   </div>
</section>
<script>
   function validateLoginForm() {
       const emailInput = document.getElementById('email');
       const emailError = document.getElementById('email-error');
       const emailValue = emailInput.value.trim();
       const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;


       if (emailValue === '') {
           emailError.textContent = 'Please enter your email.';
           emailInput.classList.add('is-invalid');
           return false;
       } else if (!emailValue.match(emailPattern)) {
           emailError.textContent = 'Please enter a valid email address';
           emailInput.classList.add('is-invalid');
           return false;
       } else {
           emailError.textContent = '';
           emailInput.classList.remove('is-invalid');
           return true;
       }
   }
</script> -->
<div>
    <h1>Change Password</h1>
    <form id="passwordForm">
        <div>
            <label for="">Enter Current Password</label>
            <input name="password" id="password" type="password" placeholder="Enter your current password">
            <small id="error-message"></small>
        </div>
        <button type="submit">Submit</button>
    </form>
    <div>
        <a href="">forgot password</a>
    </div>
    <div>
        <a href="">Reset Your Password via Email OTP</a>
    </div>
</div>

<script>
    document.getElementById('passwordForm').addEventListener('submit',async (e)=>{
        e.preventDefault();

        const errorMsgElement=document.getElementById('error-message')
        errorMsgElement.innerHTML="";
        const password=document.getElementById('password').value;
        if(password.trim()===""){
            errorMsgElement.innerHTML="This field is required"
            return;
        }

        const response=await fetch('/verify-current-password',{
            method:"POST",
            headers:{
                'Content-Type':"application/json"
            },
            body:JSON.stringify({password:password})
        })

        const result=await response.json()
        if(response.ok){
            Swal.fire({
                title:"Done",
                icon:"success",
                timer:1000,
                showConfirmButton:true
            }).then(()=>{
                window.location.href='/reset-password'
            })
        }else{
            Swal.fire("Failed",result.message,"error")
        }
    })
</script>
<%- include("../../views/partials/user/footer") %>

