<link rel="stylesheet" href="/user/home.css">

<%-include ('../../views/partials/user/header')%>


    <main class="main-content">
        <div class="hero">
            <h1>Welcome to Our Platform</h1>
            <p>A simple, elegant solution for your needs. Join thousands of satisfied users today.</p>
        </div>
    </main>

    <%-include ('../../views/partials/user/footer')%>