<style>

    header {
        display: flex;
    }

    .side-bar {
        position: fixed;
    }

</style>
<header>
    <div>
        <h1>Shop Name</h1>
    </div>
    <div class="dropdown-content">
        <!-- <a href="/user-profile" class="nav-link">Profile</a> -->
        <a href="/logout" class=''>Logout</a>
    </div>

</header>

<div class="side-bar">
    <div>
        <a href="/admin">Dashboard</a>
    </div>
    <div>
        <a href="/admin/users">Customers</a>
    </div>
    <div>
        <a href="/admin/category">Category</a>
    </div>
    <div>
        <a href="#">Brands</a>
    </div>
    <div>
        <a href="#">Add product</a>
    </div>
    <div>
        <a href="#">Products</a>
    </div>
    <div>
        <a href="#">Coupon</a>
    </div>
    <div>
        <a href="#">Banner</a>
    </div>
    <div>
        <a href="#">Orders</a>
    </div>
</div>

